.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s ease;
    z-index: 50;
    background: #4caf50;
    color: #fff;
    height: 11rem;
    padding: 2rem 1rem;
    text-align: center;
}

.header--scrolled {
    height: 3rem;
    /* background: white; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* color: #4caf50; */
}

.header__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.header__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.5s ease;
}

.header__title {
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.5s ease;
}

.header__title--scrolled {
    font-size: 1rem;
}

.header__subtitle {
    margin-top: 0.5rem;
    font-size: 1rem;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.header--scrolled .header__subtitle {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.header__nav {
    display: flex;
    gap: 4rem;
}

.header__link {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    transition: color 0.5s ease;
}

.header__link:hover {
    text-decoration: underline;
}

/* .header h1 {
    font-size: 2.5rem;
} */

/* .header p {
    font-size: 1.2rem;
    margin: 1rem;
    padding-bottom: 1rem;
}

.header .btn-primary {
    background: #fff;
    color: #4caf50;
    padding: 0.8rem 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.header .btn-primary:hover {
    background: #ddd;
} */
