.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	align-items: stretch;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 1.5rem;
	background: #fff;
}

.card h3 {
	color: #4caf50;
	margin-bottom: 1rem;
}

.card p {
	margin: 0.5rem 0;
}

.priceBody {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-secondary {
	background: #4caf50;
	width: auto;
	max-width: 200px;
	margin: 0 auto;
	color: #fff;
	padding: 0.8rem 1.2rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.btn-secondary:hover {
	background: #45a049;
}
